 <form id="new-post-form" action="/posts" enctype="multipart/form-data" method="POST">
        <input class="picture-text" name="image" type="file" />
        <input type="submit" value="upload" />
        <label for="message">Message: </label>
        <input id="message" type="text" name="message" value="">
        <input type="submit" value="Submit">
</form>
